src/main/mule/ppp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="39798e84-e153-4a1c-b6d7-98514a5b666e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pppFlow" doc:id="e3a75f8f-2fa9-4bc4-b3c3-670b6183f242" >
		<http:listener doc:name="Listener" doc:id="f07a4140-6279-4358-81d0-fe996efd5b11" config-ref="HTTP_Listener_config" path="/dw"/>
		<set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="100a5f09-ca62-4d6b-857f-e80ceb41f220" variableName="id"/>
		<ee:transform doc:name="Transform Message" doc:id="1846ebc9-41c6-4214-af90-6f55ce3fcf63" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "user": {
  	
  	
    "name": "John Doe",
    "credentials": {
      "password": "secret",
      "email": "john.doe@example.com"
    },
    "contacts": [
      {
        "type": "home",
        "phone": "123-456-7890",
        "address": {
          "street": "123 Main St",
          "city": "Hometown",
          "zip": "12345"
        },
        "item": ["amir","Elham"]
      },
      {
        "type": "work",
        "phone": "098-765-4321",
        "address": {
          "street": "456 Work Rd",
          "city": "Worktown",
          "zip": "67890"
        }
      }
    ]
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="f9c1de0f-80c2-43a7-ab4b-3850b1870c66" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import dwl::functions



fun MaskData(data) = data match  {
   case is Object -> data mapObject {
       '$$': if((functions::toMask(vars.id)) contains '$$') "XXXX" 
             else if ((functions::toHalfMask(vars.id)) contains( '$$')) $[0 to 2] ++ "XX"
              
            else MaskData($)
   } 
 
  case is String -> if((functions::toValueMask(vars.id)) contains  ($))"XXXX" else '$'

   case is Array -> data map (
       
       MaskData($)
       
       
       )
   else -> data
}
---
MaskData(payload)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
